
body{
    background-color:#545454
}

p{
    color:white;
    font-family: sans-serif;
    position: relative;
    top: 1px;
    left:5px;
    right: 5px;
    bottom: 5px;
}

h2, h1, li{
    color: white;
    font-family: sans-serif;

}
a{
    color:aliceblue;
    font-family: sans-serif;
}

a:hover{
    color:lightgray;
}

a:active{
    color:blue;
}

.contenedor{
    background-color: #545454;
    position: relative;
    width: 20%;
    height: 100px;
}

.cajas{
    position: absolute;
    width: 80%;
    height: 100%;
    left: 200px;
    right: 50px;
    top: 1px;
    text-align: left;
}
#caja1 {
    height: 25%;
    color:white;
    background-color: #00d8f2;
    position: relative;
}

#caja2{
    height: 25%;
    color:white;
    background-color: rgb(161, 161, 5);
    position: relative;
}

#caja3{
    height: 25%;
    color:white;
    background-color: orange;
    position: relative; 
}

#caja4{
    height: 25%;
    color:white;
    background-color: red;  
    position: relative;
}

